<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/beranda"></ion-back-button>
    </ion-buttons>
    <ion-title>Pembayaran Makanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="submitPayment()">

          <ion-item>
            <ion-label position="floating">Jumlah Pesanan</ion-label>
            <ion-input type="number" [(ngModel)]="amount" name="amount" required></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit">Pesan Sekarang</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
