<header>
  <ion-toolbar color="success">
    <ion-title color="light">Akun</ion-title>
  </ion-toolbar>
</header>
<ion-content>
  <div class="top">
    <div class="image">
      <img src="../../assets/img/pngegg.png">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
    <div class="desc">
      <h3>{{ this.nama }}</h3>
      <p>Customer</p>
    </div>
    <div class="edit">
      <ion-button fill="clear" (click)="goToLoginPage()">
        Logout
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-list [inset]="true">
    <ion-item [button]="true" routerLink="/booked-rooms">
      <ion-icon color="success" slot="start" name="bed" size="large"></ion-icon>
      <ion-label>Pesanan Kamar</ion-label>
    </ion-item>
      <ion-item [button]="true" routerLink="/ordered-food"> 
        <ion-icon color="success" slot="start" name="pizza" size="large"></ion-icon>
        <ion-label>Pesanan Makanan</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
